.test-section{
  background-color: white;
  padding: 2rem 5rem;
  border: 1px solid black;
  box-shadow: 5px 5px black;
}

section{
  width: 100%;
  margin-bottom: 3rem;
}

.data-section span{
  color: var(--pink);
  animation: glow 0.8s ease-in-out infinite alternate;
}

@keyframes glow {
  from {text-shadow: none}
  to {text-shadow: 0 0 20px var(--pink)}
}

.form-section p{
  margin: 1rem 0;
}

.form-section form{
  width: 300px;
}

.form-section form *{
  margin: 0.2rem 0;
  font-size: 0.8rem;
}

.form-section .button{
  margin-top: 2rem;
  background-color: var(--pink);
}

.green{
  color: mediumaquamarine;
}